<nav class="sb-topnav navbar navbar-expand navbar-dark bg-gradient">
    <a class="navbar-brand" style="font-size: 115%; color: #fff">Settings</a>
    <button class="btn btn-link btn-sm order-0 order-lg-0" id="sidebarToggle" href="#"><i class="fa fa-bars"></i></button>
    <a class="navbar-brand navbar-org-name d-none d-md-inline-block" href="">
        <img src="~/image/logo-w.png" class="img-fluid" />
    </a>

    <!-- Navbar Search-->
    <partial name="_NavSearch" />
    <!-- Navbar-->
    <partial name="_NavLogin" />
</nav>