@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5 mt-4 mb-4 p-2">ড্যাশবোর্ড</h1>
    <div class="row justify-content-center mb-4 pl-5 pr-5">
        <div class="col-lg-3">
            <div class="card custom-card card-stretch gutter-b wave wave-animate-slow wave-success p-0 mb-4">
                <div class="card-body">
                    <div class="align-items-center">
                        <div class="text-center">
                            <a asp-controller="AppUser" asp-action="Index" class="font-weight-bold font-size-h4 d-inline-block mb-3">@ViewBag.TotalUser</a>
                            <div class="text-dark-75">সর্বমোট রেজিস্টার্ড কর্মকর্তা</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card custom-card card-stretch gutter-b wave wave-animate-slow wave-success p-0 mb-4">
                <div class="card-body">
                    <div class="align-items-center">
                        <div class="text-center">
                            <a asp-controller="Home" asp-action="Notification" class="font-weight-bold font-size-h4 d-inline-block mb-3">@ViewBag.ApprovedListForNotification</a>
                            <div class="text-dark-75">অনুমোদিত আবেদন</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="card custom-card card-stretch gutter-b wave wave-animate-slow wave-success p-0 mb-4">
                <div class="card-body">
                    <div class="align-items-center">
                        <div class="text-center">
                            <a asp-controller="EmployeeLeave" asp-action="EmployeeOnLeave" class="font-weight-bold font-size-h4 d-inline-block mb-3">@ViewBag.EmployeeOnLeaveCount</a>
                            <div class="text-dark-75">ছুটিতে আছেন</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        @*<div class="col-lg-3">
                <div class="card custom-card card-stretch gutter-b wave wave-animate-slow wave-success p-0 mb-4">
                    <div class="card-body">
                        <div class="align-items-center">
                            <div class="text-center">
                                <a asp-controller="Holidays" asp-action="Index" class="font-weight-bold font-size-h4 d-inline-block mb-3">@DateTime.Now.Year</a>
                                <div class="text-dark-75">বাৎসরিক ছুটির ক্যালেন্ডার</div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>*@

        <div class="col-lg-3">
            <div class="card custom-card card-stretch gutter-b wave wave-animate-slow wave-success p-0 mb-4">
                <div class="card-body">
                    <div class="align-items-center">
                        <div class="text-center">
                            <a asp-controller="Leaves" asp-action="Balance" class="font-weight-bold font-size-h4 d-inline-block mb-3">বিস্তারিত</a>
                            <div class="text-dark-75">কর্মীদের ছুটির বিস্তারিত</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
