<footer class="mt-auto custom-footer">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between">
            <div class="font-weight-bold">
                কপিরাইট &copy;
                <a class="text-decoration-none text-primary font-weight-bold" href="" target="_blank">এল.এম.এস - </a>২০২১
            </div>
            <div>
                <a class="text-decoration-none text-primary font-weight-bold" href="#">প্রাইভেসি পলিসি</a>
                &middot;
                <a class="text-decoration-none text-primary font-weight-bold" href="#">শর্তাবলী</a>
            </div>
        </div>
    </div>
</footer>