<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
        @await Component.InvokeAsync("DynamicMenuListLoan")

        <div class="sb-sidenav-footer text-white font-weight-bold">
         <br /> বিজেআরআই
    </div>
    </nav>
</div>