@model LMS_Web.Areas.CPF.Models.InvestmentInfo;
@{
    ViewData["Title"] = "Investment Info Calculate";
}
<div class="row justify-content-center mt-4 mb-2">
    <div class="col-md-6">
        <form method="post" asp-action="InvestmentInfoCalculate" enctype="multipart/form-data" class="form-signin create-form bg-white rounded border shadow-sm p-4">
            <div class="text-center mb-4 card">
                <h1 class="h5 mb-3 font-weight-bold">Investment Info Calculate</h1>
            </div>
            <input type="hidden" id="id" asp-for="Id" class="form-control" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Month</label>
                <select name="month" class="form-control" tabindex="10">
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Year</label>
                <select id="ddlYears" name="year" class="form-control"></select>
            </div>
            <div class="form-group mt-4 text-center">
                <input type="submit" name="btnValue" id="submitBtn" value="Save" class="btn btn-primary btn-lg" />
            </div>
        </form>
    </div>
</div>
@section Scripts
    {
    <script>
        $(document).ready(function () {
            $("#CPF").css("display", "block");
            var id = $("#id").val();
            if (id != 0) {
                $("#submitBtn").val("Update");
            }

            var currentYear = (new Date()).getFullYear() + 12;
            var ddlYears = document.getElementById("ddlYears");

            for (var i = 2022; i <= currentYear; i++) {
                var option = document.createElement("OPTION");
                option.innerHTML = i;
                option.value = i;
                ddlYears.appendChild(option);
            }
        });

    </script>
}
