@model LMS_Web.Areas.Settings.Models.FiscalYear
@{
    ViewData["Title"] = "Add";
}
<div class="row justify-content-center mt-4 mb-2">
    <div class="col-md-6">
        <form method="post" asp-action="Add" class="form-signin create-form bg-white rounded border shadow-sm p-4">
            <div class="text-center mb-4">
                <h1 class="h5 mb-3 font-weight-bold">Add Fiscal Year</h1>
            </div>
            <input type="hidden" id="id" asp-for="Id" class="form-control" />
            
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input id="amount" required="required" asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>

            <div class="form-group mt-4 text-center">
                <a class="btn btn-secondary" asp-action="List">List</a>
                <input type="submit" name="btnValue" id="submitBtn" value="Save" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>
@section Scripts
    {
    <script>
        $(document).ready(function () {
            $("#Deduction").css("display", "block");
            var id = $("#id").val();
            if (id != 0) {
                $("#submitBtn").val("Update");

            }

        });

    </script>
}
