<div class="sb-sidenav-menu">
    <div class="nav">
        @*<div class="sb-sidenav-menu-heading">Core</div>*@
        @*<a class="nav-link" asp-area="" asp-action="Index" asp-controller="Home">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            ড্যাশবোর্ড
        </a>
        <a class="nav-link" asp-area="" asp-action="UserDashboard" asp-controller="Home">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            ব্যক্তিগত ড্যাশবোর্ড
        </a>
        <a class="nav-link" asp-area="" asp-action="Index" asp-controller="Holidays">
            <div class="sb-nav-link-icon"><i class="far fa-envelope"></i></div>
            বাৎসরিক ছুটি সমূহ
        </a>
        <a class="nav-link" asp-area="" asp-action="Create" asp-controller="Holidays">
            <div class="sb-nav-link-icon"><i class="far fa-envelope"></i></div>
            বাৎসরিক ছুটি বরাদ্দকরণ
        </a>
        <a class="nav-link" asp-area="" asp-action="SaveUserApplication" asp-controller="Leaves">
            <div class="sb-nav-link-icon"><i class="far fa-envelope"></i></div>
            ছুটির আবেদন
        </a>
        <a class="nav-link" asp-area="" asp-action="Create" asp-controller="Leaves">
            <div class="sb-nav-link-icon"><i class="far fa-envelope"></i></div>
            ছুটির আবেদন ১(ব্যাকলগ)
        </a>
        <a class="nav-link" asp-area="" asp-action="SaveUserApplicationAdmin" asp-controller="Leaves">
            <div class="sb-nav-link-icon"><i class="far fa-envelope"></i></div>
            ছুটির আবেদন ২(ব্যাকলগ)
        </a>

        @*<a class="nav-link" asp-area="" asp-action="ApplicationHistory" asp-controller="Leaves">
                <div class="sb-nav-link-icon"><i class="far fa-envelope"></i></div>
                ছুটির আবেদনসমুহ (ব্যক্তিগত)
            </a>*@
       @* <a class="nav-link" asp-area="" asp-action="Index" asp-controller="Leaves">
            <div class="sb-nav-link-icon"><i class="far fa-envelope"></i></div>
            ছুটি অনুমোদন তালিকা
        </a>
        <a class="nav-link" asp-area="" asp-action="UserApplicationList" asp-controller="Leaves">
            <div class="sb-nav-link-icon"><i class="far fa-envelope"></i></div>
            ছুটির আবেদনসমূহ (ব্যক্তিগত)
        </a>
        <a class="nav-link" asp-area="" asp-action="Balance" asp-controller="Leaves">
            <div class="sb-nav-link-icon"><i class="far fa-envelope"></i></div>
            অবশিষ্ট ছুটি
        </a>
        <a class="nav-link" asp-area="" asp-action="PersonalBalance" asp-controller="Leaves">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            অবশিষ্ট ছুটি (ব্যক্তিগত)
        </a>
        <a class="nav-link" asp-area="" asp-action="History" asp-controller="History">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            পূর্বের ছূটি অনুমোদনের হিস্টোরি
        </a>
        <a class="nav-link" asp-area="" asp-action="UserLeaveHistory" asp-controller="Home">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            পূর্ণ ছুটির বিবরন
        </a>
        <a class="nav-link" asp-area="" asp-action="ArchiveList" asp-controller="AppUser">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            আর্কাইভ লিষ্ট
        </a>
        @*<a class="nav-link" asp-area="" asp-action="Report" asp-controller="Home">
                <div class="sb-nav-link-icon"><i class="far fa-envelope"></i></div>
                রিপোর্ট
            </a>*@
        @*<a class="nav-link" asp-area="" asp-action="UserLeaveHistory" asp-controller="Home">
                <div class="sb-nav-link-icon"><i class="far fa-envelope"></i></div>
                সব ছুটির বিবরণ
            </a>*@


       @* <div class="sb-sidenav-menu-heading">সেটআপ</div>*@
        @*<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAppUsers" aria-expanded="false" aria-controls="collapseLayouts">
                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
               কর্মকর্তা
                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
            </a>*@
        <!--<div class="collapse" id="collapseAppUsers" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
        <nav class="sb-sidenav-menu-nested nav">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">ব্যবহারকারী তৈরি করুন</a>-->
        @*<a class="nav-link" asp-area="" asp-controller="AppUser" asp-action="Roles">ব্যবহারকারী রোল</a>*@
        <!--</nav>
        </div>-->
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">
            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
            কর্মকর্তা অন্তর্ভুক্ত করুন
        </a>
        <a class="nav-link" asp-area="" asp-controller="AppUser" asp-action="Index">
            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
            কর্মকর্তার তালিকা
        </a>
        @*  <a class="nav-link" asp-area="" asp-action="Index" asp-controller="LeaveTypes">
            <div class="sb-nav-link-icon"><i class="fas fa-plane"></i></div>
            ছুটির ধরণ
        </a> *@  
        <a class="nav-link" asp-area="" asp-action="Index" asp-controller="Wings">
            <div class="sb-nav-link-icon"><i class="fas fa-plane"></i></div>
            উইংস
        </a> <a class="nav-link" asp-area="" asp-action="Index" asp-controller="Departments">
            <div class="sb-nav-link-icon"><i class="fas fa-plane"></i></div>
            বিভাগ
        </a><a class="nav-link" asp-area="" asp-action="Index" asp-controller=Sections>
            <div class="sb-nav-link-icon"><i class="fas fa-plane"></i></div>
            শাখা
        </a>
        <a class="nav-link" asp-area="" asp-action="Index" asp-controller="Designations">
            <div class="sb-nav-link-icon"><i class="fas fa-plane"></i></div>
            পদবী
        </a>
        @*<a class="nav-link" asp-area="" asp-action="Index" asp-controller="LeaveReasons">
            <div class="sb-nav-link-icon"><i class="fas fa-plane"></i></div>
            ছুটির কারন
        </a>
        <a class="nav-link" asp-area="" asp-action="CalculateLeave" asp-controller="Leaves">
            <div class="sb-nav-link-icon"><i class="far fa-envelope"></i></div>
            ছুটি হিসাব করুন
        </a>*@

    </div>
</div>