<div class="sb-sidenav-menu">
    <div class="nav">
        <a class="nav-link" asp-area="" asp-action="Index" asp-controller="Home">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            ড্যাশবোর্ড
        </a>
        <a class="nav-link" asp-area="" asp-action="Index" asp-controller="Holidays">
            <div class="sb-nav-link-icon"><i class="far fa-envelope"></i></div>
            বাৎসরিক ছুটি সমূহ
        </a>
        <a class="nav-link" asp-area="" asp-action="Index" asp-controller="Leaves">
            <div class="sb-nav-link-icon"><i class="far fa-envelope"></i></div>
            ছুটি অনুমোদন তালিকা
        </a>

        <a class="nav-link" asp-area="" asp-action="SaveUserApplication" asp-controller="Leaves">
            <div class="sb-nav-link-icon"><i class="far fa-envelope"></i></div>
            ছুটির আবেদন
        </a>
        <a class="nav-link" asp-area="" asp-action="UserApplicationList" asp-controller="Leaves">
            <div class="sb-nav-link-icon"><i class="far fa-envelope"></i></div>
            ছুটি আবেদনসমূহ
        </a>
        <a class="nav-link" asp-area="" asp-action="History" asp-controller="History">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            পূর্বের ছূটি অনুমোদনের হিস্টোরি
        </a>


        <a class="nav-link" asp-area="" asp-action="PersonalBalance" asp-controller="Leaves">
            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
            অবশিষ্ট ছুটি
        </a>
        <a class="nav-link" asp-area="" asp-action="Report" asp-controller="Home">
            <div class="sb-nav-link-icon"><i class="far fa-envelope"></i></div>
            ছুটি বিস্তারিত
        </a>

        <a class="nav-link" asp-area="" asp-action="CalculateLeave" asp-controller="Leaves">
            <div class="sb-nav-link-icon"><i class="far fa-envelope"></i></div>
            ছুটি হিসাব করুন
        </a>
    </div>
</div>