
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/CPF/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@section scripts
{
    <script>
        $("#Dashboard").css("display", "block");
    </script>
}
